{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="m-5">Edition article</h1>

    {# ouverture de la balise form #}
    {{ form_start(form) }}

    {# bloc du formularire pour le champ name
    form_row >> ecriture du lablel + l'input #}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.image) }}

    {% if original_image is not null %}
        <p>
            Actuellement:
            <img src="{{ asset('images/' ~ original_image) }}" height="200px" alt="">
        </p>
    {% endif %}

    <div class="text-right">
        <button class="btn btn-info">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_category_index') }}" class="btn btn-outline-info">
            Retour
        </a>
    </div>
    {# fermeture balise form #}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {# pour surcharger le block parent#}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        })
    </script>

{% endblock %}

